{% extends 'base.html' %}
{% block title %}Projects — RimMirK{% endblock %}
{% block content %}
<h1>Projects</h1>
<div class="cards-grid">
    {% for project in projects %}
        <article class="project-card">
            <div class="project-card-top">
                <img src="{{ project.icon.url }}" alt="Project logo" class="logo">
                <h3 class="title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
                <a class="btn" href="{{ project.get_absolute_url }}" class="learn-more">Learn&nbsp;more</a>
            </div>
            <p class="desc content">{{ project.short_description|safe }}</p>
            <div class="learn-more-container">
            </div>
            <div class="links">
                    <a class="btn learn-more links" href="{{ project.get_absolute_url }}">Learn&nbsp;more</a>
                {% for link in project.links.all %}
                    <a
                        href="{{ link.url }}"
                        target="{{ link.target }}"
                        {% if link.style == "btn" %}
                            class='btn'
                        {% elif link.style == "btn-ghost" %}
                            class='btn ghost'
                        {% elif link.style == "link" %}
                            class='btn link'
                        {% endif %}
                        {{ link.extra_attrs|safe }}
                    >{{ link.text|safe }}</a>
                {% endfor %}
            </div>
        </article>
    {% endfor %}
</div>
{% endblock %}