name: Deploy to cPanel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare SSH key
        env:
          KEY: ${{ secrets.CPANEL_SSH_KEY }}
        run: |
          echo "$KEY" > key
          chmod 600 key

      - name: Deploy to server
        env: 
          HOST: ${{ secrets.CPANEL_HOST }}
          USER: ${{ secrets.CPANEL_USER }}
          PROJECT_DIR: ${{ secrets.PROJECT_DIR }}
          VENV_ACTIVATE: ${{ secrets.VENV_ACTIVATE }}
          TOUCH_FILE: ${{ secrets.TOUCH_FILE }}
          CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

        run: |
          ssh -i key -o StrictHostKeyChecking=no $USER@$HOST "
            cd \"$PROJECT_DIR\" &&
            git pull https://github.com/RimMirK/RimMirK.dev.git main &&
            $VENV_ACTIVATE &&
            pip install -r requirements.txt &&
            python manage.py makemigrations --noinput &&
            python manage.py migrate --noinput &&
            python manage.py makemigrations main --noinput &&
            python manage.py migrate main --noinput &&
            python manage.py collectstatic --noinput &&
            touch $TOUCH_FILE &&
            curl https://api.cloudflare.com/client/v4/zones/$CLOUDFLARE_ZONE_ID/purge_cache \
              -H 'Content-Type: application/json' \
              -H "Authorization: Bearer $CLOUDFLARE_API_TOKEN" \
              -d '{\"purge_everything\": true}'
          "
